body {
    font-family: "Roboto", sans-serif;
    background: #FFF;
    color: #434455;
}

a {text-decoration: none;}


.header-nav {
    color:#2E2F42;
    font-family: Roboto, sans-serif;
 
}

.list-nav {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32em;
}

.list-nav-one, .list-nav-two, .list-nav-three {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-nav-studio {
    color: #2e2f42;
}
.list-nav-studio:hover, .list-nav-studio:focus {
    color: #404bbf;
    }


.logo-part-one {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part-two {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
ul {list-style: none;}



.nav-add {
    color:#434455;
    
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32em;
        font-style: normal;
}

.list-nav-add-one{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-nav-mail {
    color: #434455;
}
.list-nav-mail:hover, .list-nav-mail:focus {
    color: #404bbf;
}


.list-nav-add-two{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-nav-add-two:hover  {
color: #404bbf;
}

.list-nav-add-two:focus {
color: #404bbf; 

}

.one-section {
background-color: #2e2f42;
}
.one-section-name {
color: #ffffff;
font-family: Roboto, sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}

.button-one-section {
background-color: #4D5AE5;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;

}
.button-one-section:hover, .button-one-section:focus 
{
    background-color: #404BBF;
}




.two-section {
background: #FFF;
}


.name-list-two-section {
    color:  #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing:0.02em;
}
.list-two-section {
    color:  #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.three-section {
background: #F4F4FD;
}
.name-three-section {
        color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}

.list-three {
    background-color: #FFFFFF;
}

.list-name-three {
    color:#2E2F42;
       font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.list-page-three {
color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.four-section {
    background: #FFF;
}
.name-four-section {
    color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 36px;
        line-height: 1.12;
        letter-spacing: 0.02em;
        text-align: center;
}

.list-name-four-section {
color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.list-page-four {
color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-name {
    background-color:#2e2f42;
}
.footer-logo-one {

    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-two {
color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-footer {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; }

 *
 *::before,
 *::after {
    box-sizing: border-box;
 }