
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top:0;
    margin-bottom: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
     max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
        }

body {
    background: #FFF;
    color: #434455; }

a  {text-decoration: none;}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}
.header-nav-container {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;}

.one-header {border-bottom: 1px solid #e7e9fc;}

.header-nav {
    color:#2E2F42;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.list-nav {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32em;
    display: flex;
    gap: 40px;
    
}
.list-nav-one, .list-nav-two, .list-nav-three {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.list-nav-studio {
    color: #2e2f42;
}
.list-nav-studio:hover, .list-nav-studio:focus {
    color: #404bbf;
    }
.list-nav-one{
    padding-left: 76px;
}
.logo-part-one {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
 }

.logo-part-two {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }



.nav-add {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32em;
    font-style: normal;
    display: flex;
  

}
.add {
    display: flex;
    column-gap: 40px;
}
.list-nav-add-one{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
   }
.list-nav-mail {
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.list-nav-mail:hover, .list-nav-mail:focus {
    color: #404bbf;
}

.list-nav-add-one:last-child {
    margin-right: 0;
}
.list-nav-add-two:hover  {
color: #404bbf;
}

.list-nav-add-two:focus {
color: #404bbf; 
}


.one-section {
background-color: #2e2f42;
max-height: 600px;
padding: 188px 0;}

.container: {
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.one-section-name {
color: #ffffff;
font-size: 56px;
text-align: center;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.button-one-section {
background-color: #4D5AE5;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
margin: 0 auto;
padding: 16px 32px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;

}

.button-one-section:hover, 
.button-one-section:focus 
{
    background-color: #404BBF;
}

.two-section {
background: #FFF;
padding: 120px 0;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;}


.two-section-container {
    display: flex;
    gap: 24px;
    margin-right: 40px;
    }
.name-list-two-section {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
}
.list-two-section {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    flex-basis: calc((100% - 72px) / 4);
}
.list-two:last-child { margin-right: 0;}
.list-two { margin-right: 40px;}

.three-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.name-three-section {
        color: #2E2F42;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.three-section-container {
    display: flex;
    gap: 24px;
    margin: auto;


}
.list-three {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 72px) / 4);
    }

.advent {
    padding: 32px 0;

}

.list-name-three {
    color:#2E2F42;
    font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.list-page-three {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    text-align: center;

}

.four-section-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.four-section {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.advant-four {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.name-four-section {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;

}

.list-name-four-section {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 32px;
    padding-bottom: 2px;
 
}

.list-page-four {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding-bottom: 32px;
   }



.footer-name {
    background-color:#2e2f42;
    padding: 100px 0;
}
.footer-logo-one {

    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
.footer-logo-two {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo {
   display: inline-block;
   margin-bottom: 16px;
}

.text-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
